body {
    font-family: "Montserrat", sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1168px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}